/* navigation style */

.top-nav{
    background-color: #131921;
}
.custom-link{
    color:#ffff;
    font-size:25px;
}
.custom-nav{
    background-color: #232f3e !important;
}
.custom-card{
    overflow: hidden !important;
}
.custom-card:hover img{
    transform: scale(1.5);
    transition: all 3s;
    
}